@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400&display=swap');

:root {
  --primary-color-dark: #525252;
  --primary-color-light: #eeeeee;
  --secondary-color: #a7a7a7;
  --primary-background: #f5f5f5;
  --secondary-background: #fff;
  --primary-accent: #41bbc1;
  --secondary-accent: #fab500;
  --primary-shadow: rgba(32, 33, 36, 0.28);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  /* background-color: var(--primary-background); */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='5000' preserveAspectRatio='none' viewBox='0 0 1440 5000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1019%26quot%3b)' fill='none'%3e%3crect width='1440' height='5000' x='0' y='0' fill='rgba(14%2c 52%2c 71%2c 1)'%3e%3c/rect%3e%3cpath d='M329.93%2c2491.345C458.672%2c2487.139%2c535.279%2c2363.09%2c598.619%2c2250.928C660.477%2c2141.389%2c719.417%2c2016.05%2c661.359%2c1904.45C599.943%2c1786.394%2c463.003%2c1735.361%2c329.93%2c1734.449C195.046%2c1733.524%2c56.656%2c1782.281%2c-9.463%2c1899.851C-74.553%2c2015.593%2c-37.078%2c2154.362%2c29.009%2c2269.538C95.479%2c2385.381%2c196.443%2c2495.706%2c329.93%2c2491.345' fill='rgba(28%2c 141%2c 142%2c 0.13)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M426.249%2c1274.344C522.597%2c1272.256%2c602.004%2c1209.034%2c651.944%2c1126.612C704.132%2c1040.48%2c728.128%2c937.886%2c685.358%2c846.71C635.581%2c740.598%2c543.417%2c648.528%2c426.249%2c645.488C304.929%2c642.34%2c196.613%2c723.876%2c142.755%2c832.632C94.114%2c930.852%2c123.752%2c1044.533%2c182.953%2c1136.774C236.888%2c1220.81%2c326.417%2c1276.507%2c426.249%2c1274.344' fill='rgba(28%2c 141%2c 142%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1263.5%2c2299.921C1386.51%2c2306.645%2c1514.407%2c2256.169%2c1572.94%2c2147.769C1629.342%2c2043.316%2c1590.088%2c1917.227%2c1523.037%2c1819.269C1465.029%2c1734.522%2c1366.144%2c1699.016%2c1263.5%2c1695.692C1153.146%2c1692.118%2c1030.45%2c1707.101%2c973.116%2c1801.46C914.254%2c1898.333%2c950.528%2c2018.919%2c1007.587%2c2116.865C1064.172%2c2213.997%2c1151.256%2c2293.785%2c1263.5%2c2299.921' fill='rgba(28%2c 141%2c 142%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M950.685%2c2023.405C1023.557%2c2025.15%2c1102.929%2c2011.916%2c1140.945%2c1949.721C1180.187%2c1885.519%2c1163.108%2c1804.097%2c1124.043%2c1739.787C1086.615%2c1678.172%2c1022.758%2c1634.839%2c950.685%2c1636.511C881.142%2c1638.125%2c825.405%2c1687.221%2c790.724%2c1747.521C756.161%2c1807.616%2c740.806%2c1880.999%2c775.579%2c1940.972C810.262%2c2000.789%2c881.56%2c2021.75%2c950.685%2c2023.405' fill='rgba(28%2c 141%2c 142%2c 0.13)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M828.714%2c103.612C876.725%2c107.401%2c925.883%2c84.172%2c948.409%2c41.605C969.852%2c1.084%2c951.298%2c-45.338%2c928.624%2c-85.184C905.61%2c-125.627%2c875.233%2c-169.83%2c828.714%2c-168.739C783.2%2c-167.672%2c755.942%2c-121.898%2c736.601%2c-80.683C720.563%2c-46.505%2c720.928%2c-8.786%2c737.807%2c24.985C757.005%2c63.395%2c785.906%2c100.234%2c828.714%2c103.612' fill='rgba(28%2c 141%2c 142%2c 0.13)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M436.561%2c714.668C498.949%2c713.125%2c556.359%2c677.838%2c584.823%2c622.3C611.135%2c570.96%2c594.558%2c512.094%2c566.101%2c461.911C537.146%2c410.85%2c495.159%2c364.295%2c436.561%2c360.846C372.428%2c357.071%2c310.673%2c389.848%2c277.61%2c444.931C243.586%2c501.616%2c241.462%2c573.005%2c275.026%2c629.963C308.109%2c686.104%2c371.417%2c716.279%2c436.561%2c714.668' fill='rgba(28%2c 141%2c 142%2c 0.13)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M294.396%2c689.823C338.76%2c689.687%2c387.051%2c677.368%2c407.16%2c637.823C426.152%2c600.474%2c400.545%2c559.799%2c378.691%2c524.05C358.191%2c490.517%2c333.698%2c453.613%2c294.396%2c453.362C254.821%2c453.109%2c228.96%2c489.258%2c208.215%2c522.961C185.957%2c559.122%2c160.938%2c600.793%2c180.423%2c638.52C200.914%2c678.194%2c249.743%2c689.96%2c294.396%2c689.823' fill='rgba(28%2c 141%2c 142%2c 0.13)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M386.114%2c4487.952C456.881%2c4490.665%2c522.277%2c4446.633%2c554.692%2c4383.668C584.745%2c4325.29%2c568.854%2c4256.593%2c533.8%2c4201.073C501.355%2c4149.685%2c446.887%2c4116.673%2c386.114%2c4116.665C325.327%2c4116.657%2c268.818%2c4148.427%2c238.358%2c4201.032C207.832%2c4253.751%2c210.639%2c4317.388%2c238.53%2c4371.547C269.275%2c4431.25%2c319.009%2c4485.379%2c386.114%2c4487.952' fill='rgba(28%2c 141%2c 142%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M526.867%2c4318.83C566.56%2c4316.391%2c600.5%2c4294.341%2c621.849%2c4260.79C645.212%2c4224.074%2c662.081%2c4178.138%2c640.404%2c4140.402C618.673%2c4102.572%2c570.494%2c4095.496%2c526.867%2c4095.445C483.123%2c4095.394%2c436.949%2c4103.615%2c412.873%2c4140.138C386.571%2c4180.038%2c383.561%2c4233.562%2c409.263%2c4273.851C433.456%2c4311.775%2c481.968%2c4321.589%2c526.867%2c4318.83' fill='rgba(28%2c 141%2c 142%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M418.362%2c3328.205C461.553%2c3328.21%2c490.385%2c3287.668%2c509.748%2c3249.061C526.812%2c3215.037%2c530.835%2c3175.312%2c511.482%2c3142.536C492.431%2c3110.273%2c455.822%2c3095.084%2c418.362%2c3094.295C379.259%2c3093.471%2c338.074%2c3104.784%2c318.191%2c3138.465C298.045%2c3172.592%2c308.511%2c3213.993%2c327.013%2c3249.039C347.175%2c3287.23%2c375.176%2c3328.2%2c418.362%2c3328.205' fill='rgba(28%2c 141%2c 142%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1115.034%2c5445.899C1259.573%2c5447.336%2c1393.992%2c5369.226%2c1465.38%2c5243.539C1535.922%2c5119.341%2c1531.036%2c4965.979%2c1456.998%2c4843.833C1385.579%2c4726.009%2c1252.804%2c4663.965%2c1115.034%2c4665.55C980.143%2c4667.102%2c855.211%2c4735.498%2c786.434%2c4851.549C716.259%2c4969.959%2c709.952%2c5116.231%2c776.55%2c5236.69C845.335%2c5361.104%2c972.878%2c5444.486%2c1115.034%2c5445.899' fill='rgba(28%2c 141%2c 142%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1284.248%2c3579.007C1350.16%2c3578.282%2c1406.392%2c3534.831%2c1437.968%2c3476.97C1468.179%2c3421.611%2c1463.531%2c3357.32%2c1436.263%2c3300.454C1403.912%2c3232.986%2c1359.057%2c3157.85%2c1284.248%2c3156.394C1208.078%2c3154.912%2c1155.306%2c3225.995%2c1121.628%2c3294.331C1092.235%2c3353.972%2c1091.582%2c3422.681%2c1124.562%2c3480.415C1157.819%2c3538.634%2c1217.204%2c3579.744%2c1284.248%2c3579.007' fill='rgba(28%2c 141%2c 142%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-53.7%2c3515.029C-11.711%2c3515.17%2c35.207%2c3509.029%2c55.85%2c3472.465C76.279%2c3436.279%2c56.352%2c3393.652%2c34.924%2c3358.048C14.388%2c3323.927%2c-13.943%2c3292.748%2c-53.7%2c3290.441C-97.255%2c3287.914%2c-139.759%2c3309.158%2c-162.13%2c3346.614C-185.051%2c3384.99%2c-186.178%2c3434.147%2c-161.98%2c3471.731C-139.426%2c3506.762%2c-95.363%2c3514.889%2c-53.7%2c3515.029' fill='rgba(28%2c 141%2c 142%2c 0.13)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1149.753%2c838.439C1219.328%2c840.726%2c1297.264%2c840.406%2c1336.528%2c782.923C1379.694%2c719.727%2c1373.376%2c634.338%2c1333.983%2c568.724C1295.704%2c504.965%2c1224.112%2c470.761%2c1149.753%2c471.828C1077.293%2c472.868%2c1009.697%2c510.559%2c974.459%2c573.882C940.129%2c635.573%2c944.103%2c712.454%2c983.099%2c771.307C1018.554%2c824.816%2c1085.599%2c836.33%2c1149.753%2c838.439' fill='rgba(28%2c 141%2c 142%2c 0.13)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1200.837%2c597.54C1304.547%2c598.121%2c1387.906%2c526.462%2c1444.281%2c439.41C1507.507%2c341.779%2c1561.577%2c224.637%2c1509.776%2c120.492C1453.631%2c7.613%2c1326.579%2c-59.132%2c1200.837%2c-50.033C1087.107%2c-41.803%2c1010.932%2c57.85%2c960.714%2c160.223C917.21%2c248.908%2c914.526%2c350.123%2c962.069%2c436.71C1011.571%2c526.864%2c1097.989%2c596.964%2c1200.837%2c597.54' fill='rgba(28%2c 141%2c 142%2c 0.13)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M882.149%2c2858.534C932.847%2c2860.056%2c986.532%2c2847.503%2c1013.436%2c2804.506C1041.726%2c2759.293%2c1038.029%2c2700.232%2c1009.329%2c2655.279C982.581%2c2613.384%2c931.85%2c2599.55%2c882.149%2c2598.872C830.911%2c2598.173%2c775.08%2c2607.727%2c748.81%2c2651.724C722.057%2c2696.529%2c735.563%2c2753.155%2c763.84%2c2797.013C789.656%2c2837.053%2c834.529%2c2857.104%2c882.149%2c2858.534' fill='rgba(28%2c 141%2c 142%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1415.488%2c5020.247C1499.037%2c5023.353%2c1569.038%2c4964.839%2c1611.936%2c4893.076C1656.173%2c4819.073%2c1679.359%2c4726.853%2c1635.098%2c4652.864C1591.694%2c4580.308%2c1499.901%2c4559.906%2c1415.488%2c4564.684C1339.97%2c4568.959%2c1271.482%2c4609.195%2c1235.093%2c4675.506C1200.031%2c4739.398%2c1209.017%2c4814.78%2c1242.807%2c4879.354C1279.723%2c4949.902%2c1335.92%2c5017.289%2c1415.488%2c5020.247' fill='rgba(28%2c 141%2c 142%2c 0.13)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1007.684%2c2004.186C1129.333%2c2007.263%2c1263.272%2c1990.784%2c1327.702%2c1887.552C1394.948%2c1779.808%2c1365.969%2c1642.585%2c1301.764%2c1533.002C1238.368%2c1424.8%2c1133.001%2c1336.63%2c1007.684%2c1341.353C888.353%2c1345.85%2c807.387%2c1449.283%2c749.646%2c1553.811C694.339%2c1653.933%2c657.67%2c1772.794%2c714.532%2c1872.041C771.643%2c1971.722%2c892.839%2c2001.281%2c1007.684%2c2004.186' fill='rgba(28%2c 141%2c 142%2c 0.13)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1019'%3e%3crect width='1440' height='5000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  color: var(--primary-color-dark);
}

a {
  text-decoration: none;
  color: var(--primary-color-light);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 60px;
  margin-bottom: 100px;
  padding-bottom: 40vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: var(--primary-background); */
  margin: 10px;
  /* position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  overflow: hidden; */
}

.navlink {
  margin: 0 10px;
}

.active {
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid var(--primary-accent);
  height: 100%;
}

.navbarlogo {
  width: 50px;
  height: auto;
}

.standard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}

.google {
  display: flex;
  flex-direction: column;
}

.search {
  font-size: 14px;
  height: 30px;
  width: 500px;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 0 1px 6px 0 var(--primary-shadow);
  border: none;
  outline: none;
}

.search:focus-visible {
  outline: 2px solid var(--primary-accent);
  outline-offset: 2px;
}

.submit {
  /* display: block; */
  border-radius: 50px;
  border: 1px solid rgb(201, 201, 201);
  box-shadow: 0 1px 6px 0 var(--primary-shadow);
  margin: 10px 20px;
  height: 30px;
  width: 120px;
  text-align: center;
  cursor: pointer;
  background-color: var(--secondary-background);
}

.submit:hover {
  outline: 2px solid var(--primary-accent);
  outline-offset: 2px;
}

.welcome {
  text-align: center;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
}

img {
  width: 100%;
}

/*WORKSHOP*/
.workshopcard {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--secondary-background);
  box-shadow: 0 1px 6px 0 var(--primary-shadow);
  border-radius: 10px;
  margin-bottom: 30px;
  width: 80vw;
}

.workshops {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  padding: 10px;

  width: 80vw;
  /* margin: 50px auto; */
}

.workshop-left {
  /* border: 1px solid blue; */
  border-right: 2px solid var(--primary-color-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.workshop-right {
  /* border: 1px solid orange; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.more-info {
  color: blue;
  text-decoration: underline;
}

.workshop-title {
  text-align: center;
}

.workshop-dates {
  margin-top: 50px;
}

.workshop-light {
  font-family: 'fira sans';
  font-weight: 300;
  font-size: 1rem;
}

.workshop-location {
  font-size: 1rem;
  font-family: 'fira sans';
  font-weight: 400;
}

.workshop-img-wrapper {
  /* border: 1px solid blue; */
  height: 10vh;
  width: auto;
}

.workshop-img {
  height: 100%;
  width: auto;
}

.walk-img {
  margin-top: 25px;
  width: max-content;
  border-radius: 10px;
}

.digitale-wandeling {
  width: 80vw;
}
.digitale-wandeling p {
  line-height: 1.5rem;
  margin: 0 30px;
}

.signup {
  margin: 25px 0;
  font-size: 1.3rem;
}

/* WORKSHOPS PAGE */

.subjects {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70vw;
  border-top: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
  margin: 50px auto;
  padding: 20px;
}

.subjectlist {
  width: max-content;
}

/* LOCATIES */

.location {
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-background);
  color: var(--primary-color-dark);
  box-shadow: 0 1px 6px 0 var(--primary-shadow);
  border-radius: 10px;
  width: 85%;
  height: min-content;
  margin-bottom: 50px;
}

.map {
  margin: 10px;
}

.info {
  /* border: 1px solid blue; */
  width: 100%;
  text-align: center;
}

.openingsuren {
  margin-top: 50px;
}

.locations-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  color: var(--primary-color-light);
}

.title {
  display: block;
  text-align: center;
  margin: 10px auto;
}

.subtitle {
  font-size: 14px;
}

.locations-summary {
  display: flex;
  width: 80%;
  margin: 50px 0;
}

.scroll-to-top {
  position: fixed;
  z-index: 99;
  right: 30px;
  bottom: 30px;
  width: 40px;
  filter: invert(75%);
}

.link {
  text-decoration: underline;
  text-align: center;
  margin: 10px;
  line-height: 1.8rem;
}

.locations-table {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 50px;
  flex-wrap: wrap;
}

.openingsuren p {
  text-align: center;
  font-size: 14px;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 341px;
  width: 414px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 341px;
  width: 414px;
}
