/*
.left-column {
  border: 1px solid blue; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 50%;
}

.divider {
  border-left: 2px solid #757575;
}

.right-column {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 50%;
}
*/

/* Styling to display if workshop is full */
/* 
.full {
  border-radius: 10px;
  font-size: 1.8rem;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  right: 7%;
  top: 25%;
  text-align: center;
  // https://getcssscan.com/css-box-shadow-examples
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 35vw;
  height: 25vh;
  transform: rotate(-20deg);
} 

.blur {
  color: transparent;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border: none;
}
*/
